thefossguy.com {
	tls /etc/ssl/certs/certificate.pem /etc/ssl/private/key.pem
	reverse_proxy 
}

www.thefossguy.com {
	tls /etc/ssl/certs/certificate.pem /etc/ssl/private/key.pem
	reverse_proxy 
}

git.thefossguy.com {
	tls /etc/ssl/certs/certificate.pem /etc/ssl/private/key.pem
	reverse_proxy 
}

cloud.thefossguy.com {
	tls /etc/ssl/certs/certificate.pem /etc/ssl/private/key.pem
	reverse_proxy 
}

mach.thefossguy.com {
	tls /etc/ssl/certs/certificate.pem /etc/ssl/private/key.pem
	reverse_proxy 
}

fuck.thefossguy.com {
	tls /etc/ssl/certs/certificate.pem /etc/ssl/private/key.pem
	reverse_proxy 
}
